* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;

    background:
        linear-gradient(
            to bottom right,
            #f5f1ea,
            #ece4d9
        );

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    transition: 0.4s;
}

.main-box {
    width: 100%;
    max-width: 520px;

    background: rgba(255, 255, 255, 0.96);

    padding: 34px;

    border-radius: 30px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.06);

    border:
        1px solid rgba(0, 0, 0, 0.03);
}

.top-section {
    text-align: center;

    margin-bottom: 32px;
}

h1 {
    font-size: 44px;

    color: #3d352f;

    margin-bottom: 12px;

    letter-spacing: -1px;
}

.main-text {
    color: #7b726b;

    font-size: 15px;

    line-height: 24px;
}

.input-section {
    margin-bottom: 22px;
}

.section-label {
    display: block;

    margin-bottom: 10px;

    color: #4b443e;

    font-size: 14px;

    font-weight: bold;
}

#temperatureInput,
#fromUnit,
#toUnit {
    width: 100%;

    padding: 15px;

    border: 1px solid #ddd5ca;

    border-radius: 14px;

    background: #faf8f4;

    outline: none;

    font-size: 14px;

    color: #3d352f;

    transition: 0.2s;
}

#temperatureInput:focus,
#fromUnit:focus,
#toUnit:focus {

    border-color: #c8b6a6;

    background: white;
}

.result-section {
    margin-top: 28px;

    background: #faf8f4;

    border-radius: 22px;

    padding: 26px;

    text-align: center;
}

.result-label {
    color: #7b726b;

    font-size: 14px;

    margin-bottom: 10px;
}

.result-number {
    font-size: 48px;

    color: #3d352f;

    margin-bottom: 12px;
}

.result-text {
    color: #7da67d;

    font-size: 15px;

    font-weight: bold;
}

.button-section {
    display: flex;

    gap: 14px;

    margin-top: 28px;
}

.convert-btn,
.reset-btn {
    flex: 1;

    border: none;

    padding: 15px;

    border-radius: 14px;

    cursor: pointer;

    font-size: 15px;

    font-weight: bold;

    transition: 0.2s;
}

.convert-btn {
    background: #c8b6a6;

    color: white;
}

.reset-btn {
    background: #ece4d9;

    color: #4b443e;
}

.convert-btn:hover,
.reset-btn:hover {

    transform: translateY(-1px);

    opacity: 0.95;
}

@media (max-width: 550px) {

    .main-box {
        padding: 24px;
    }

    h1 {
        font-size: 36px;
    }

    .button-section {
        flex-direction: column;
    }

}