* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;

    background: #f5f1ea;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.main-box {
    width: 100%;
    max-width: 500px;

    background: white;

    padding: 30px;

    border-radius: 28px;
}

.top-section {
    text-align: center;
    margin-bottom: 28px;
}

h1 {
    font-size: 42px;

    color: #3d352f;

    margin-bottom: 10px;
}

.main-text {
    color: #7b726b;

    font-size: 15px;

    line-height: 24px;
}